    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-4 text-center">
                
                <h1 class="display-5 mb-5"><img src="../template//img/person-circle.svg" alt="" width="50" height="50" class="fs-1" title="Bootstrap"> | SisModelo</h1>
                
                <form method="post" id="frmAcesso">
                    <div class="border p-4 rounded-3  mb-5 shadow">
                        <div class="form-floating mb-3">
                            <input type="text" id="login" name="login" class="form-control" placeholder="Usuário">
                            <label for="floatingInput">Nome de usuário</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha">
                            <label for="floatingPassword">Senha</label>
                        </div>
                        
                    </div>
                        <span class="float-start"><a class="nav-link" href="login.php">Esqueceu a senha?</a></span>
                        <button type="submit" class="btn btn-primary btn-lg float-end">Acessar</button>
                </form>

            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

    <script src="../template/js/jquery.min.js"></script>

    